<header class="blue">
	<div id=conteneur>
		<div class="logo">
		</div>

		<div id="alertArea">
		</div>

	  	<div class="element2">
	    	<form action="/login" method="post">
	    		<table id="logintable">
	    			<tbody>
	    				<tr>
	    					<td>
	    						<input class="form-control" placeholder="Email or Username" name="email">
	    					</td>
	    					<td>
	    						<input type="password" class="form-control" placeholder="Password" name="password">
	    					</td>
	    					<td>
	    						<input type="submit" class="btn btn-success" value="Login"/>
	    					</td>
	    				</tr>

	    				<tr>
	    					<td>
	    						<a href="/restore"><font color="#FFF">Forgot password or login ?</font></a>
	    					</td>
	    				</tr>
	    			</tbody>
	    		</table>
	  		</form>
	  	</div> 
	</div>

</header>